<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
    <body>
    <h1>Hello, I'm User</h1>

        <table border="1">
            <thead>
            <tr>Пользователь</tr>
            </thead>
            <tbody>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>lastname</th>
                    <th>age</th>
                    <th>city</th>
                </tr>
                <tr>
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getName}"></td>
                    <td th:text="${user.getLastName()}"></td>
                    <td th:text="${user.getAge()}"></td>
                    <td th:text="${user.getCity()}"></td>
                </tr>
            </tbody>
        </table>
        <div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="logout"/>
            </form>
        </div>
    </body>
</html>